<!DOCTYPE html>
<html>
<head>
  <title>Coin2usd</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
    <h1>Get a quote on bitcoin now!</h1>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
